@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3><em><span>"</span>@ViewBag.Message<span>"</span></em></h3>
<br />
<p>
    VINOTECA VIRTUAL nace en 2019 para presentar un concepto revolucionario en el ámbito de la distribución del vino: un espacio que supera el modelo de la enoteca tradicional porque aborda el tratamiento del vino desde una perspectiva cultural, enfocada al consumidor final con una filosofía en la que conviven los aspectos pedagógicos, la experiencia de compra y el respeto por el vino.
</p>
<p>
    En la práctica, VINOTECA VIRTUAL desarrolla esta idea en tiendas con una amplia selección de referencias –más de 4.500– en las que cada uno de los aspectos del diseño están concebidos en beneficio del vino: las condiciones de temperatura y humedad, la exposición de las botellas, la iluminación, etc., son coherentes con el respeto máximo por la integridad del producto.
</p>
