@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Escuela Técnica Superior de Ingeniería de Sistemas Informáticos<br />
    Universidad Politécnica de Madrid<br />
    Calle de Alan Turing, s/n, 28031 Madrid<br />
    <abbr title="Teléfono Secretaría de Alumnos">Tel.:</abbr>
    91 067 35 24
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:vanesa.paniegos@alumnos.upm.es">vanesa.paniegos@alumnos.upm.es</a><br />
    <strong>Marketing:</strong> <a href="mailto:negociado.alumnos@etsisi.upm.es">negociado.alumnos@etsisi.upm.es</a>
</address>