@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VINOTECA VIRTUAL</h1>
    <p class="lead">VINOTECA VIRTUAL is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.riberadelduero.es/" class="btn btn-primary btn-lg">Seguir viendo &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>50 frases célebres</h2>
        <p>Filósofos, pensadores, científicos, escritores, poetas, pintores, directores de cine, diseñadores… A lo largo de la historia del vino…</p>
        <p><a class="btn btn-default" href="https://vivancoculturadevino.es/blog/2015/08/19/50-frases-celebres-vino/">Seguir leyendo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Denominaciones de Origen</h2>
        <p>Las Denominaciones de Origen Protegidas (D.O), también llamadas Denominaciones de Origen Protegidas (D.O.P) constituyen el sistema…</p>
        <p><a class="btn btn-default" href="https://vivancoculturadevino.es/blog/2015/04/23/denominaciones-origen-vino-espana/">Seguir leyendo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Maridaje de las tapas</h2>
        <p>Para disfrutar al máximo de las tapas es importante acompañarlas adecuadamente. Por eso hoy os acercamos consejos sobre el maridaje de las tapas españolas…</p>
        <p><a class="btn btn-default" href="http://mikelandpintxo.com/blog/el-maridaje-de-las-tapas-espanolas/">Seguir leyendo &raquo;</a></p>
    </div>
</div>